<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="com.quvideo.application.editor">

  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
  <uses-permission android:name="android.permission.RECORD_AUDIO" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.VIBRATE" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.CAMERA" />
  <uses-permission android:name="android.permission.INTERNET" />

  <uses-permission android:name="android.permission.WAKE_LOCK" />

  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


  <application
    android:supportsRtl="true"
    android:theme="@style/AppTheme">
    <activity
      android:name="com.quvideo.application.camera.CameraActivity"
      android:configChanges="orientation|screenSize|keyboardHidden"
      android:screenOrientation="portrait"
      android:theme="@style/CameraTheme"
      tools:ignore="LockedOrientationActivity" />
    <activity
      android:name="com.quvideo.application.editor.EditorActivity"
      android:configChanges="orientation|screenSize|keyboardHidden"
      android:screenOrientation="portrait"
      android:theme="@style/CameraTheme"
      android:windowSoftInputMode="adjustPan|stateHidden"
      tools:ignore="LockedOrientationActivity" />
    <activity
      android:name="com.quvideo.application.draft.DraftActivity"
      android:configChanges="orientation|screenSize|keyboardHidden"
      android:screenOrientation="portrait"
      android:theme="@style/CameraTheme"
      android:windowSoftInputMode="adjustPan|stateHidden"
      tools:ignore="LockedOrientationActivity" />
    <activity
      android:name="com.quvideo.application.export.PreviewActivity"
      android:configChanges="orientation|screenSize|keyboardHidden"
      android:screenOrientation="portrait"
      android:theme="@style/CameraTheme"
      tools:ignore="LockedOrientationActivity" />

    <activity
      android:name="com.quvideo.application.slide.SlideShowActivity"
      android:configChanges="orientation|screenSize|keyboardHidden"
      android:screenOrientation="portrait"
      android:theme="@style/CameraTheme"
      tools:ignore="LockedOrientationActivity" />

    <activity
      android:name="com.quvideo.application.gallery.GalleryActivity"
      android:configChanges="orientation|keyboardHidden|screenSize"
      android:screenOrientation="portrait"
      android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
      android:windowSoftInputMode="adjustNothing"
      tools:ignore="LockedOrientationActivity" />
    <activity
      android:name="com.quvideo.application.gallery.preview.PhotoActivity"
      android:configChanges="orientation|keyboardHidden|screenSize"
      android:screenOrientation="portrait"
      android:theme="@style/Theme.AppCompat.Light.NoActionBar"
      android:windowSoftInputMode="adjustNothing"
      tools:ignore="LockedOrientationActivity" />
    <activity
      android:name="com.quvideo.application.gallery.preview.VideoTrimActivity"
      android:configChanges="orientation|keyboardHidden|screenSize"
      android:screenOrientation="portrait"
      android:theme="@style/Theme.AppCompat.Light.NoActionBar"
      android:windowSoftInputMode="adjustNothing"
      tools:ignore="LockedOrientationActivity" />

    <activity
        android:name="com.quvideo.application.frame.CaptureProcessorActivity"
        android:configChanges="orientation|screenSize|keyboardHidden"
        android:screenOrientation="portrait"
        android:windowSoftInputMode="adjustNothing|stateHidden" />

    <activity
        android:name="com.quvideo.application.superedit.zxing.CaptureActivity"
        android:configChanges="orientation|screenSize|keyboardHidden"
        android:screenOrientation="portrait"
        android:windowSoftInputMode="stateAlwaysHidden"  />

  </application>
</manifest>
